<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>App · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <header>
      <section class="container">
        <nav role="navigation">
          <ol class="breadcrumb pull-right">
            <%= if App.Authentication.load_current_user(@conn) do %>
                <li>Current time: <%= NaiveDateTime.truncate(NaiveDateTime.local_now(), :second) %></li>
                <li>Hello <%= App.Authentication.load_current_user(@conn).name %></li>
                <li><%= link "Account", to: Routes.user_path(@conn, :show, App.Authentication.load_current_user(@conn)), class: "btn btn-default btn-xs", id: "account" %></li>
                <li><%= link "Log out", to: Routes.session_path(@conn, :delete, App.Authentication.load_current_user(@conn)), method: "delete", id: "log_out" %></li>
                <li><%= link("Main menu", to: Routes.page_path(@conn, :index), method: "get", class: "button", id: "main-menu-button") %></li>
            <% else %>
                <li><%= link "Log in", to: Routes.session_path(@conn, :new) %></li>
                <li><%= link "Register", to: Routes.user_path(@conn, :new) %></li>
            <% end %>
          </ol>
        <span class="logo"></span>

        </nav>
        <a href="https://phoenixframework.org/" class="phx-logo">
          <img src="<%= Routes.static_path(@conn, "/images/phoenix.png") %>" alt="Phoenix Framework Logo"/>
        </a>
      </section>
    </header>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= @inner_content %>
    </main>
  </body>
</html>
