<%= form_for @changeset, Routes.allocation_path(@conn, :update, @allocation), fn allocation -> %>

<div class="form-group">
    <%= label allocation, :end_time %>
    <%= datetime_select allocation, :end_time %>
    <%= error_tag allocation, :end_time %>
</div>

<div class="form-group">
    <%= submit "Submit", id: "submit_allocation", class: "btn btn-primary" %>
</div>
<% end %>

<span><%= link "Back", to: Routes.allocation_path(@conn, :index) %></span>
