
<%= content_tag :label, "Parking lot name" %>
<%= content_tag :p, "#{@parking_lot.name}" %>
<%= content_tag :label, "Parking lot address" %>
<%= content_tag :p, "#{@parking_lot.address}" %>

<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <%= hidden_input f, :parking_lot_id %>

  <%= label f, :start_time %>
  <%= datetime_select f, :start_time, default: {2020, 12, 8} %>
  <%= error_tag f, :start_time %>

  <%= label f, :end_time %>
  <%= datetime_select f, :end_time, default: {2020, 12, 8} %>
  <%= error_tag f, :end_time %>

  <%= label f, "Hourly payment" %>
  <%= radio_button f, :payment_type, "Hourly", checked: true %>
  <%= label f, "Real time payment" %>
  <%= radio_button f, :payment_type, "Real time", checked: false %>
  <%= error_tag f, :payment_type %>

  <div>
    <%= submit "Save", id: "submit" %>
  </div>
<% end %>
