<h1>Listing Allocations</h1>

<table>
  <thead>
    <tr>
      <th>Start time</th>
      <th>End time</th>
      <th>Payment type</th>
      <th>Notification</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for allocation <- @allocations do %>
    <tr>
      <td><%= allocation.start_time %></td>
      <td><%= allocation.end_time %></td>
      <td><%= allocation.payment_type %></td>
      <td>
        <%= if (NaiveDateTime.diff(allocation.end_time, NaiveDateTime.truncate(NaiveDateTime.local_now(), :second)) / (60) < 10
        and NaiveDateTime.diff(allocation.end_time, NaiveDateTime.truncate(NaiveDateTime.local_now(), :second)) / (60) > 0)
        and allocation.payment_type == "Hourly" and allocation.status == "parking" do %>
          <div style="color: #940404">less than 10 minutes remaining!</div>
        <% end %>
      </td>

      <td>
        <%= if (NaiveDateTime.diff(allocation.end_time, NaiveDateTime.truncate(NaiveDateTime.local_now(), :second)) / (60) < 10
        and NaiveDateTime.diff(allocation.end_time, NaiveDateTime.truncate(NaiveDateTime.local_now(), :second)) / (60) > 0)
        and allocation.payment_type == "Hourly" and allocation.status == "parking" do %>
        <span><%= link "Extend", to: Routes.allocation_path(@conn, :edit, allocation), id: "edit" %></span>
        <% end %>
        <span><%= link "Show", to: Routes.allocation_path(@conn, :show, allocation) %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>
