<h1>Show Allocation</h1>

<ul>

  <li>
    <strong>Start time:</strong>
    <%= @allocation.start_time %>
  </li>

  <li>
    <strong>End time:</strong>
    <%= @allocation.end_time %>
  </li>

  <li>
    <strong>Payment type:</strong>
    <%= @allocation.payment_type %>
  </li>

  <li>
    <strong>Estimated cost:</strong>
    <%= "#{@allocation.estimated_cost} euros" %>
  </li>

  <li>
    <strong>Status:</strong>
    <%= @allocation.status %>
  </li>

</ul>
<div><%= link("Pay", to: Routes.allocation_path(@conn, :payment, @allocation.id), method: "post", class: "button", id: "pay_button") %></div>
<span><%= link "Back", to: Routes.allocation_path(@conn, :index) %></span>
