<%= form_for @changeset, @action, fn rating -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="form-group">
    <%= label rating, :email, class: "control-label" %>
    <%= text_input rating, :email, class: "form-control" %>
    <%= error_tag rating, :email %>
  </div>

  <div class="form-group">
    <%= label rating, :score, class: "control-label" %>
    <%= email_input rating, :score, class: "form-control" %>
    <%= error_tag rating, :score %>
  </div>

  <div class="form-group">
    <%= submit "Submit", id: "submit_rating", class: "btn btn-primary" %>
  </div>
<% end %>
