<h2>Listing ratings</h2>

<table class="table">
  <thead>
    <tr>
      <th>Product Id</th>
      <th>Score</th>
      <th>Email</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for rating <- @ratings do %>
    <tr>
      <td><%= rating.product_id %></td>
      <td><%= rating.score %></td>
      <td><%= rating.email %></td>

       <td class="text-right">
       </td>
    </tr>
<% end %>
  </tbody>
</table>
