<h2> New Rating</h2>

<%= render "form.html", changeset: @changeset,
                        action: Routes.rating_path(@conn, :create) %>

<span><%= link "Back", to: Routes.rating_path(@conn, :index) %></span>
