<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "my Application" %></h1>
  <p>This is it.</p>
</section>

<section class="row">
  <article style="text-align-last: center" class="column">
    <h2>Actions</h2>
    <%= if App.Authentication.load_current_user(@conn) do %>
    <% else %>
      <br>
    <% end %>
    <div><%= link("Products", to: Routes.product_path(@conn, :index), method: "get", class: "button", id: "products") %></div>

  </article>
</section>
