<%= form_for @conn, Routes.session_path(@conn, :create), [as: :session], fn session -> %>
  <div class="form-group">
    <%= label session, :email, class: "control-label" %>
    <%= text_input session, :email, id: "email", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= label session, :password, class: "control-label" %>
    <%= text_input session, :password, id: "password", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= submit "Submit", id: "login_button", class: "btn btn-primary" %>
  </div>
<% end %>
