<%= form_for @changeset, Routes.product_path(@conn, :update, @product), fn rating -> %>

  <div class="form-group">
    <%= label rating, :email, class: "control-label" %>
    <%= text_input rating, :email, class: "form-control", id: "email" %>
    <%= error_tag rating, :email %>
  </div>

  <div class="form-group">
    <%= label rating, :score, class: "control-label" %>
    <%= number_input rating, :score, class: "form-control", id: "score" %>
    <%= error_tag rating, :score %>
  </div>

  <div class="form-group">
    <%= submit "Submit", id: "submit_score", class: "btn btn-primary" %>
  </div>
<% end %>


<span><%= link "Back", id: "back", to: Routes.product_path(@conn, :index) %></span>
