<h2>Listing products</h2>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Quantity</th>
      <th>Votes</th>
      <th>Average</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for product <- @products do %>
    <tr>
      <td><%= product.name %></td>
      <td><%= product.quantity %></td>
      <td><%= product.votes %></td>
      <td><%= product.average %></td>

       <td class="text-right">
        <span><%= link "Rate", to: Routes.product_path(@conn, :edit, product), class: "btn btn-default btn-xs", id: "new" %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>
