<h2>Show product</h2>

<ul>
  <li>
    <strong>Name:</strong>
    <%= @product.name %>
  </li>

  <li>
    <strong>Quantity:</strong>
    <%= @product.quantity %>
  </li>

    <li>
    <strong>Votes:</strong>
    <%= @product.votes %>
  </li>

<span><%= link "Edit", to: Routes.product_path(@conn, :edit, @product), id: "edit" %></span>
<span><%= link "Back", to: Routes.product_path(@conn, :index) %></span>
