<%= form_for @changeset, Routes.user_path(@conn, :update, @user), fn user -> %>

  <div class="form-group">
    <%= label user, :name, class: "control-label" %>
    <%= text_input user, :name, class: "form-control" %>
    <%= error_tag user, :name %>
  </div>

  <div class="form-group">
    <%= label user, :email, class: "control-label" %>
    <%= email_input user, :email, class: "form-control" %>
    <%= error_tag user, :email %>
  </div>

  <div class="form-group">
    <%= label user, :password, class: "control-label" %>
    <%= text_input user, :password, class: "form-control", id: "password" %>
    <%= error_tag user, :password %>
  </div>

  <div class="form-group">
    <%= label user, :age, class: "control-label" %>
    <%= number_input user, :age, class: "form-control" %>
    <%= error_tag user, :age %>
  </div>
  <div class="form-group">
    <%= submit "Submit", id: "submit_user", class: "btn btn-primary" %>
  </div>
<% end %>


<span><%= link "Back", to: Routes.user_path(@conn, :index) %></span>
