<h2> New User</h2>

<%= render "form.html", changeset: @changeset,
                        action: Routes.user_path(@conn, :create) %>

<span><%= link "Back", to: Routes.page_path(@conn, :index) %></span>
