<h2>Show user</h2>

<ul>
  <li>
    <strong>Name:</strong>
    <%= @user.name %>
  </li>

  <li>
    <strong>Email:</strong>
    <%= @user.email %>
  </li>

  <li>
    <strong>Password:</strong>
    <%= @user.password %>
  </li>

  <li>
    <strong>Age:</strong>
    <%= @user.age %>
  </li>
</ul>

<span><%= link "Edit", to: Routes.user_path(@conn, :edit, @user), id: "edit" %></span>
<span><%= link "Back", to: Routes.user_path(@conn, :index) %></span>
